<div>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>名称</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="name" placeholder="请输入商品名称">
          <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
            <ng-container *ngIf="validateForm.get('name').hasError('required')">
              请输入商品名称
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>类型</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="type" placeholder="请输入商品类型">
          <nz-form-explain *ngIf="validateForm.get('type').dirty && validateForm.get('type').errors">
            <ng-container *ngIf="validateForm.get('type').hasError('required')">
              请输入商品类型
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>单位</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="unit" placeholder="请输入商品单位">
          <nz-form-explain *ngIf="validateForm.get('unit').dirty && validateForm.get('unit').errors">
            <ng-container *ngIf="validateForm.get('unit').hasError('required')">
              请输入商品单位
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>价格</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <input nz-input formControlName="price" placeholder="请输入商品价格">
          <nz-form-explain *ngIf="validateForm.get('price').dirty && validateForm.get('price').errors">
            <ng-container *ngIf="validateForm.get('price').hasError('required')">
              请输入商品价格
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>图片</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback>
          <nz-upload
            nzAction="https://jsonplaceholder.typicode.com/posts/"
            nzListType="picture"
            [(nzFileList)]="img">
            <button nz-button>
              <i nz-icon type="upload"></i><span>上传图片</span>
            </button>
          </nz-upload>
          <!-- <input nz-input formControlName="img" placeholder="">
          <nz-form-explain *ngIf="validateForm.get('img').dirty && validateForm.get('img').errors">
            <ng-container *ngIf="validateForm.get('img').hasError('required')">
            </ng-container>
          </nz-form-explain> -->
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired>说明</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea formControlName="comment" nz-input rows="4" placeholder="请输入商品说明"></textarea>
          <nz-form-explain *ngIf="validateForm.get('comment').dirty&&validateForm.get('comment').hasError('required')">
            <ng-container *ngIf="validateForm.get('comment').hasError('required')">
              请输入商品说明
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzOffset]="4" [nzSpan]="12">
          <button nz-button nzType="primary" [disabled]="!validateForm.valid">确认保存</button>
        </nz-form-control>
      </nz-form-item>
  </form>
</div>