<div class="admin-home">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <div class="logo">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu [nzOpen]=true>
          <span title><i nz-icon type="tags"></i><span class="nav-text">商品维护</span></span>
          <ul>
            <li nz-menu-item><a [routerLink]="[ 'goods-manage' ]">商品管理</a></li>
            <li nz-menu-item><a [routerLink]="[ 'goods-edit' ]">商品添加</a></li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]=true>
          <span title><i nz-icon type="shop"></i><span class="nav-text">菜品维护</span></span>
          <ul>
            <li nz-menu-item><a [routerLink]="[ 'dish-manage' ]">菜品管理</a></li>
            <li nz-menu-item><a [routerLink]="[ 'dish-edit' ]">菜品添加</a></li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]=true>
          <span title><i nz-icon type="shopping-cart"></i><span class="nav-text">订单维护</span></span>
          <ul>
            <li nz-menu-item><a [routerLink]="[ 'order-manage' ]">订单管理</a></li>
          </ul>
        </li>
        <li nz-submenu [nzOpen]=true>
          <span title><i nz-icon type="setting"></i><span class="nav-text">系统管理</span></span>
          <ul>
            <li nz-menu-item><a [routerLink]="[ 'user-manage' ]">用户管理</a></li>
            <li nz-menu-item><a [routerLink]="[ 'user-edit' ]">用户添加</a></li>
          </ul>
        </li>
        <!-- <li nz-submenu [nzOpen]=true>
          <span title><i nz-icon type="team"></i><span class="nav-text">个人信息维护</span></span>
          <ul>
            <li nz-menu-item>用户信息修改</li>
          </ul>
        </li> -->
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header class="admin-home-header">
        <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
        <div class="admin-home-header-text">
          <div class="admin-home-header-text-left">智能菜市场</div>
          <div class="admin-home-header-text-right">
            <nz-dropdown [nzPlacement]="'bottomRight'">
              <a nz-dropdown>
                <span>{{username}}</span>
                <i nz-icon type="down"></i>
              </a>
              <ul nz-menu nzSelectable>
                <li nz-menu-item>
                  <a (click)="logout()">退出登陆</a>
                </li>
              </ul>
            </nz-dropdown>
          </div>
        </div>
      </nz-header>
      <nz-content class="admin-home-content">
        <nz-breadcrumb class="admin-home-content-bread">
          <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
        </nz-breadcrumb>
        <div class="admin-home-content-main">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">ZNSC ©2018 Implement By WangXin</nz-footer>
    </nz-layout>
  </nz-layout>
  <ng-template #trigger>
    <i nz-icon type="up"></i>
  </ng-template>
</div>