<div class="admin-home">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <div class="logo">
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu [nzOpen]=true *ngFor="let menu of menus">
          <span title><i nz-icon [type]="menu.icon"></i><span class="nav-text">{{menu.name}}</span></span>
          <ul *ngIf="menu.children">
            <li nz-menu-item *ngFor="let child of menu.children"><a [routerLink]="[ child.link ]">{{child.name}}</a></li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header class="admin-home-header">
        <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
        <div class="admin-home-header-text">
          <div class="admin-home-header-text-left">智能菜市场</div>
          <div class="admin-home-header-text-right">
            <nz-dropdown [nzPlacement]="'bottomRight'">
              <a nz-dropdown>
                <span>{{username}}</span>
                <i nz-icon type="down"></i>
              </a>
              <ul nz-menu nzSelectable>
                <li nz-menu-item>
                  <a (click)="logout()">退出登陆</a>
                </li>
              </ul>
            </nz-dropdown>
          </div>
        </div>
      </nz-header>
      <nz-content class="admin-home-content">
        <nz-breadcrumb class="admin-home-content-bread">
          <!-- <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item> -->
        </nz-breadcrumb>
        <div class="admin-home-content-main">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer style="text-align: center;">ZNSC ©2018 Implement By WangXin</nz-footer>
    </nz-layout>
  </nz-layout>
  <ng-template #trigger>
    <i nz-icon type="up"></i>
  </ng-template>
</div>